<h1>Product purchase confirmation</h1>

<p>Thank you for purchasing at Winnamoney</p>

<p>Your order number is: <strong><%= @order.id %></strong></p>

<% if @order.status == "complete" %>
	<p>Your order is complete</p>
<% elsif @order.status == "stand_by" %>
	<p>We will be waiting for your deposit</p>
<% elsif @order.status == "contact_me" %>
	<p>One of our agents will be in contact with you soon</p>
<% end %>

<p>Here is your order confirmation</p>

<table id="cart_detail">
	<tr>
		<th>Name</th>
		<th>Quantity</th>
		<th>Unit Price</th>
		<th>Price</th>
	</tr>
	
	<% @cart.items.each do |item|%>
		<tr id="<%= item.id %>">
			<td><%= item.name %></td>
			<td><%= item.quantity %></td>
			<td><%= number_to_currency item.unit_price %></td>
			<td><%= number_to_currency item.price %><%= "<sub>Tax included</sub>" if item.taxes_apply?  %></td>
		</tr>
	<% end %>
	
</table>

<h2>Order Summary</h2>
<table>
	<tr>
		<td>Total</td>
		<td><strong><%= number_to_currency @cart.price %></strong></td>
	</tr>
</table>

<h2>Billing Information</h2>

<div>
	<p>
		<strong><%= I18n.t('addresses.labels.full_name') %>:</strong><br />
		<%= @cart.billing.names %> <%= @cart.billing.last_names %>
	</p>
	
	<p>
		<strong><%= I18n.t('addresses.labels.address') %>:</strong><br />
		<%= @cart.billing.address1 %>, <%= @cart.billing.address2 %>, <%= @cart.billing.city_name %>,<%= @cart.billing.zip %>
	</p>
	
	<p>
		<strong><%= I18n.t('addresses.labels.email') %>:</strong><br />
		<%= @cart.billing.email %>
	</p>
	
	<p>
		<strong><%= I18n.t('addresses.labels.phone') %>:</strong><br />
		<%= @cart.billing.phone %>
	</p>

</div>

<h2>Shipping Information</h2>

<div>
	<p>
		<strong><%= I18n.t('addresses.labels.full_name') %>:</strong><br />
		<%= @cart.shipping.names %> <%= @cart.shipping.last_names %>
	</p>
	
	<p>
		<strong><%= I18n.t('addresses.labels.address') %>:</strong><br />
		<%= @cart.shipping.address1 %>, <%= @cart.shipping.address2 %>, <%= @cart.shipping.city_name %>,<%= @cart.shipping.zip %>
	</p>
	
	<p>
		<strong><%= I18n.t('addresses.labels.email') %>:</strong><br />
		<%= @cart.shipping.email %>
	</p>
	
	<p>
		<strong><%= I18n.t('addresses.labels.phone') %>:</strong><br />
		<%= @cart.shipping.phone %>
	</p>

</div>

