<% form_for @store do |f| %>
  <%= error_messages_for @store %>
  <p>
    <%= f.label :name, "Store name" %><br />
    http://&nbsp;<%= f.text_field :name %>.winnamoney.com<br />
	<small style="display:none;color:red;" id="store_taken_warning">El nombre ya esta ocupado por alguien m&aacute;s</small>
  </p>
  <p>
    <%= f.label :language, "Language" %><br />
    <%= f.select :language, Store::LANGUAGES  %>
  </p>
  <% if @current_user.nil? or (@current_user and @current_user.is_admin?) %>
	  <p>
	    <%= f.label :sponsor_name, "Sponsor Name or ID (If you have one)" %><br />
	    <%= f.text_field :sponsor_name %>
	  </p>
  <% else %>
	  <%= f.hidden_field :sponsor_id %>
  <% end %>
  <%= f.hidden_field :parent_id  %>
  <%= f.hidden_field :side  %>
  <p>
    <%= f.label :positioning, "Positioning" %><br />
    <%= f.select :positioning, Store::POSITIONING %>
  </p>
  <p><%= f.submit "Save" %></p>
<% end %>
