<div class="item">
	<div class="imageholder">
		<%= link_to(image_tag(product.small_image_url, :alt => "Picture Not Available"),product_path(product) ) %>
	</div>
	<p class="name"><%= link_to truncate(product.name,48), product_path(product) %></p>	
	<% if @current_store.owner?(@current_user) %>
		<p class="price">
			<small><strike><%= number_to_currency product.selling_price %></strike></small><br />
			<strong><%= number_to_currency product.price_for_owner %></strong>
		</p>
	<% else %>
		<p class="price"><%= number_to_currency product.selling_price %></p>
	<% end %>
	<% form_tag cart_items_path do  %>
		<%= hidden_field_tag :product_id, product.id, :class => 'product_id' %>
		<%= image_submit_tag "/images/add.png", :class => 'add_product_to_cart' %>
	<% end %>
</div>