<% title "Winnamoney | #{(I18n.t 'stores.text.title')}" %>

<% content_for :heading do %>
	<h2><%= I18n.t 'stores.text.header' %></h2>
	<% if !@current_user.nil?%>
		<% if params[:parent_id] %>
			<small><%= I18n.t 'stores.text.payment_needed' %></small>
		<% elsif @current_user and !@current_user.is_admin? %>
			<small><%= I18n.t 'stores.text.position' %>(<%= @current_store.positioning.titleize %>)</small>
		<% end %>
	<% end %>
<%end%>

<%= render :partial => 'form' %>