<% title store_title() %>
<div id="pages">
	<p><%= I18n.t "stores.text.home.listing" %> <b><%= @products.size %> <%= I18n.t "stores.text.home.of" %> <%= @products.total_entries %></b> <%= I18n.t "stores.text.home.products" %></p>
</div>

<!--PRODUCTOS-->
<div class="clear">
	<% unless @products.empty? %>
		<% @products.each do |product| %>
			<%= render :partial => 'stores/product', :object => product %>
		<% end %>
	<% else%>
		<p>There are no results with your search criteria. Please try navigating through our categories.</p>
		
		<p><%= link_to "Go back to the store home page", @current_store %></p>
	<% end %>
</div>

<div class="clearb" style="font-size:16px;">
	<%= will_paginate @products %>
</div>