<% title "Winnamoney | Change Password"%>

<h1>Change Password</h1>
	
<% form_for @user do |f| %>
	<%= hidden_field_tag :update_action, "change_password" %>
	<p>
		<%= label_tag 	 		:old_password %><br />
		<%= password_field_tag  :old_password %>
	</p>
	<p>
		<%= f.label 	 	 :password, "New Password" %><br />
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label 	 	 :password_confirmation, "Confirm new password" %><br />
		<%= f.password_field :password_confirmation %>
	</p>
	<p>
		<%= f.submit "Change Password" %>
	</p>
<% end %>