<% title "Winnamoney | My Account" %>

<% content_for :header do %>
	<% if virtual_office? %>
		Virtual Office
	<% end %>
<% end %>

<% content_for :sidebar do%>
	<p>
		<strong>Store Status</strong><br />
	</p>
	<%= @user.store.status %><br />
	<% if @current_user and @current_user.is_admin? %>
		<% if @user.store.payment_due? %>
			<p>
				<%= link_to "Complete Payment", new_order_payment_path(@user.orders.order_type_like("suscription")) %>
			</p>
		<% end %>
	<% end %>
	<hr />
	<p>
		<%= link_to	"Store Information", "#storeinfo" %>
	</p>
	<p>
		<%= link_to	"User Information","#myinfo"  %>
	</p>	
	<p>
		<%= link_to	"Account Information","#accountinfo"  %>
	</p>
	<p>
		<%= link_to	"Change Password",edit_user_path(@current_user, :edit_action => 'change_password')  %>
	</p>
<% end %>


<div id="storeinfo">
	<h2>Store information</h2>
	
	<p>
		<strong>Store location</strong><br />
		<%= link_to "http://#{@user.store.name}.#{APP_CONFIG[:domain]}", "http://#{@user.store.name}.#{APP_CONFIG[:domain]}" %>
	</p>

	<p>
		<strong>Store language</strong><br />
		<%= @user.store.language.titleize %>
	</p>

	<p>
		<strong>New account positioning</strong><br />
		<%= @user.store.positioning.titleize %>
	</p>

	<p>	
		<%= link_to "Edit Store", edit_store_path(@user.store) %> &nbsp; 
	</p>
	
</div>
<hr />
<div id="myinfo">
	<h2>User Information</h2>
	<p>
		<strong>Name</strong><br />
		<%= @user.full_name %>
	</p>

	<p>
		<strong>Address</strong><br />
		<%= format_address(@user.address1, @user.address2, @user.city_name, @user.zip) %>
	</p>

	<p>
		<strong>Phone Number</strong><br />
			<%= format_phone(@user.phone, @user.phone_extension) %>
	</p>

	<% if @user.fax %>
		<p>
			<strong>Fax Number</strong><br />
			<%= format_phone(@user.fax, @user.fax_extension) %>
		</p>
	<% end %>

	<% if @user.cell %>
		<p>
			<strong>Cell Phone number</strong><br />
			<%= format_phone(@user.cell, nil) %>
		</p>
	<% end %>

	<p>
		<strong>E-mail</strong><br />
		<%= @user.email %>
	</p>
	<p>
		<%= link_to "Edit User Information", edit_user_path(@user) %>
	</p>
</div>
<hr />
<div id="accountinfo">
	<h2>Account Information</h2>
	<p>
		<strong>Account Type</strong><br />
		<%= @user.account_type.titleize %>
	</p>

	<p>
		<strong>Account Number</strong><br />
		<%= @user.account_number %>
	</p>

	<p>
		<strong>Bank Routing</strong><br />
		<%= @user.routing %>
	</p>

	<p>
		<strong>SSN/TIN/RFC</strong><br />
		<%= @user.ssn %>
	</p>

	<p>
		<%= link_to "Edit Account Information", edit_user_path(@user) + "#accountinfo" %>
	</p>
</div>