<p><%= (I18n.t "orders.text.contact_me1") %></p>

<p><%= (I18n.t "orders.text.contact_me2") %></p>

<% form_for order, :url => orders_path() do |f| %>
	<%= error_messages_for :contact_later_order %>
	<%= f.hidden_field :payment_method %>
	<%= f.hidden_field :order_type %>
	<%= f.submit (I18n.t "orders.labels.submit_contact") %>
<% end %>