<% form_for order, :url => orders_path() do |f| %>

<%= f.hidden_field :payment_method %>
<%= f.hidden_field :order_type %>

<p>
	<%= f.label :account_type, "Account Type" %> <br />
	<%= f.label :account_type_check, "Check"%>
	<%= f.radio_button :account_type, "check" %>
	<%= f.label :account_type_savings, "Savings"%>
	<%= f.radio_button :account_type, "savings" %>
</p>
<p>
	<%= f.label :account_number, "Account number" %> <br />
	<%= f.text_field :account_number %>
</p>
<p>
	<%= f.label :routing, "Bank Routing" %> <br />
	<%= f.text_field :routing %>
</p>

<p>
	<%= f.label :ssn, "SSN/TIN/RFC" %> <br />
	<%= f.text_field :ssn %>
</p>

<p>
	<%= f.submit "Finish sucription" %>
</p>
<% end %>