<% form_for order, :url => orders_path() do |f| %>
<%= error_messages_for :deposit_order %>

<%= f.hidden_field :payment_method %>
<%= f.hidden_field :order_type %>

<p>
	<%= f.label :account_type, (I18n.t "orders.labels.account_type") %> <br />
	<%= f.label :account_type_check, (I18n.t "orders.labels.account_type_check")%>
	<%= f.radio_button :account_type, "check" %>
	<%= f.label :account_type_savings, (I18n.t "orders.labels.account_type_savings")%>
	<%= f.radio_button :account_type, "savings" %>
</p>
<p>
	<%= f.label :account_number, (I18n.t "orders.labels.account_number") %> <br />
	<%= f.text_field :account_number, :class => 'large' %>
</p>
<p>
	<%= f.label :routing, (I18n.t "orders.labels.routing") %> <br />
	<%= f.text_field :routing, :class => 'large' %>
</p>

<p>
	<%= f.label :ssn, "SSN/TIN/RFC" %> <br />
	<%= f.text_field :ssn, :class => 'large' %>
</p>

<p>
	<%= image_submit_tag I18n.t('images.finish') %>
</p>
<% end %>