<% title "Winnamoney | #{I18n.t "orders.text.success.title_register_successful"}"%>

<% content_for :heading do %>
	<h2><%= I18n.t "orders.text.success.header_register_successful" %></h2>
<% end %>

<p><%= I18n.t "orders.text.success.deposit1" %></p>

<p><%= I18n.t "orders.text.success.confirmation_number" %> <%= @order.id %></p>

<% if @order.suscription? %>
	<p><%= I18n.t "orders.text.success.deposit2" %></p>
<% end %>