<% title "Winnamoney | #{I18n.t 'orders.text.success.title_payment_successful'}" %>

<% content_for :header do %>
	<% if @order.suscription? %>
		<%= I18n.t 'orders.text.title.suscription' %>
	<% else %>
		<%= I18n.t 'orders.text.title.product_purchase' %>
	<% end %>
<% end %>

<% content_for :sidebar do %>
	<% if @order.suscription? %>
		<%= render :partial => '/layouts/steps_suscription', :locals => {:active_step => 'success'} %>
	<% else %>
		<%= render :partial => '/layouts/steps_checkout', :locals => {:active_step => 'success'} %>
	<% end %>
<% end %>

<h2><%= I18n.t 'orders.text.success.header_payment_successful' %></h2>

<p><%= I18n.t 'orders.text.success.confirmation_number' %> <strong><%= @order.id %></strong></p>

<% if @order.suscription? %>
	<p><%= I18n.t 'orders.text.success.credit_card1' %></p>
<% end %>