<p>
    <%= f.label :names, I18n.t('addresses.labels.names') %><br />
    <%= f.text_field :names, :class => 'large', :disabled => disabled  %>
  </p>

  <p>
    <%= f.label :last_names, I18n.t('addresses.labels.last_names') %><br />
    <%= f.text_field :last_names, :class => 'large', :disabled => disabled  %>
  </p>

  <p>
    <%= f.label :email, I18n.t('addresses.labels.email') %><br />
    <%= f.text_field :email, :class => 'large', :disabled => disabled  %>
  </p>

  <p>
    <%= f.label :phone, I18n.t('addresses.labels.phone') %><br />
    <%= f.text_field :phone, :class => 'medium', :disabled => disabled  %>
  </p>

  <p>
    <%= f.label :address1 , I18n.t('addresses.labels.address1')%><br />
    <%= f.text_field :address1, :class => 'large', :disabled => disabled  %><br />
	<%= f.label :address2 , I18n.t('addresses.labels.address2')%><br />
    <%= f.text_field :address2, :class => 'large', :disabled => disabled  %>
  </p>

  <p>
    <%= f.label :city_name, I18n.t('addresses.labels.city') %><br />
    <%= f.text_field :city_name, :class => 'city_autocomplete large', :disabled => disabled  %>
  </p>

  <p>
    <%= f.label :zip, I18n.t('addresses.labels.zip') %><br />
    <%= f.text_field :zip, :class => 'small', :disabled => disabled  %>
  </p>