<p>
    <%= f.label :names %><br />
    <%= f.text_field :names, :class => 'large'  %>
  </p>

  <p>
    <%= f.label :last_names %><br />
    <%= f.text_field :last_names, :class => 'large' %>
  </p>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => 'large' %>
  </p>

  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :class => 'medium' %>
  </p>

  <p>
    <%= f.label :address1 , "Address 1"%><br />
    <%= f.text_field :address1, :class => 'large' %><br />
	<%= f.label :address2 , "Address 2"%><br />
    <%= f.text_field :address2, :class => 'large' %>
  </p>

  <p>
    <%= f.label :city_name %><br />
    <%= f.text_field :city_name, :class => 'city_autocomplete large' %>
  </p>

  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip, :class => 'small' %>
  </p>