<% title "Winnamoney | Checkout" %>

<h1>Shipping Address</h1>

<% form_for :shipping_address, @shipping_address, :url => addresses_path do |f| %>

  <%= error_messages_for @shipping_address %>

  <p>
    <%= f.label :address1 , "Address"%><br />
    <%= f.text_field :address1 %><br /><br />
    <%= f.text_field :address2 %>
  </p>

  <p>
    <%= f.label :city_name %><br />
    <%= f.text_field :city_name, :class => 'city_autocomplete' %>
  </p>

  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
	
  <p>
	<%= f.label 	:same_for_billing, "Same information for Billing" %> 
	<%= f.check_box :same_for_billing %>
  </p>


  <div id="billing_address_form" style="<%= display?(!@shipping_address.same_for_billing?) %>">
	
	<% fields_for :billing_address, @billing_address do |b| %>
		<h1>Billing Address</h1>
		<%= error_messages_for @billing_address %>
		<%= b.hidden_field :address_type %>
		<p>
	    <%= b.label :address1 , "Address"%><br />
	    <%= b.text_field :address1 %><br /><br />
	    <%= b.text_field :address2 %>
	  </p>

	  <p>
	    <%= b.label :city_name %><br />
	    <%= b.text_field :city_name , :class => 'city_autocomplete' %>
	  </p>

	  <p>
	    <%= b.label :zip %><br />
	    <%= b.text_field :zip %>
	  </p>
	<% end %>
	
  </div>

  <p><%= f.submit "Save" %></p>

<% end %>


