<% title 'Winnamoney | Home' %>

<div class="pitch">
	<div id="ribbon">
		<h1>Discover the fastest way to make money</h1>
	</div>
	<p>Start and manage your own Business from the comfort of your home</p>
	<a href="<%= register_path %>">
	<img alt="Create Your Online Store Now" src="/images/create_store.png" style="border:none;"/>
	</a>
	<br/>
	<br/>
	<em><%= link_to "Learn more about this opportunity &raquo;", company_path %></em>
	<div id="carrusel">
		<div id="next">
			<a href="#">
				<img src="/images/next.png" style="border:none;"/>
			</a>
		</div>
		<div id="prev">
			<a href="#">
				<img src="/images/last.png"  style="border:none;"/>
			</a>
		</div>
		<div id="hall">
			<div>
				<div class="slide">
					<div class="mono">
						<img src="images/product.jpg"/>
					</div>
					<h3>This space is reserved for… you</h3>
					
					<p>
						We want to share your success with the whole Winnamoney Family.  Your photo along with your success story can be in this Gallery of Winners!
					</p>
					<%= link_to "Learn more &raquo;", company_path %>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :rightbar do  %>
	<h2>As a Winnamoney Independent Consultant you:</h2>
	<p> Will become an entrepreneur who, from day one, will receive the support of a Complete Back Office Team allowing you to offer a fantastic line of products</p>
	<%= link_to "Learn more &raquo;", oportunity_path %> </a>
	<div class="separator">
		<h2>A Myriad Line of Products!</h2>
		<p>
			A virtual MALL full of products, ranging from Apparel to Electronics, Beauty and Health to General Wellness, Sports, Home & Garden, Arts and Entertainment and much more for you to discover…
		</p>
	</div>
	<h2>Featured product</h2>
	<div class="miniatura">
		<%= image_tag(@product.small_image_url, :width => '90') %>
	</div>
	<p>
		<%= @product.name %>
	<br/>
	<span class="miniprecio"><%= number_to_currency(@product.selling_price) %></span>
	</p>
	<a href="#">
		<% form_tag cart_items_path do  %>
			<%= hidden_field_tag :product_id, @product.id, :class => 'product_id' %>
			<%= image_submit_tag "/images/mini_button.png" %>
		<% end %>
	</a>
<% end %>