<% form_for @product do |f| %>
  <%= error_messages_for @product %>
  <p>
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :product_key, "Clave del producto" %><br />
    <%= f.text_field :product_key %>
  </p>
  <p>
    <%= f.label :description, "Descripci&oacute;n"%><br />
    <%= f.text_area :description, :class => 'rte-zone'  %>
  </p>

  <p>
	<%= f.label		:category_id, "Categor&iacute;a" %> <br />
	<%= f.select 	:category_id, [["", -1]] + Category.all.collect {|c| [c.name,c.id] } %>
  </p>

  
	<p>
		<%= f.label		:subcategory_id, "Subcategor&iacute;a" %> <br />
		<%= f.select 	:subcategory_id, [["", -1]] + Subcategory.siblings(@product.category_id).collect {|s| [s.name, s.id]} %>
	</p>
	
	<p>
		<%= f.label		:tag_id, "Tag" %> <br />
		<%= f.select 	:tag_id, [["", -1]] + Tag.siblings(@product.subcategory_id).collect {|t| [t.name, t.id]}  %>
	</p>


	<script type="text/javascript">
		$(".rte-zone").rte();
	</script>

  <p>
    <%= f.label :state_name, "Estado de Origen" %><br />
    <%= f.text_field :state_name %>
  </p>

	<script type="text/javascript">
	
	function selectItem(li) {
		$("#product_state_name").val(li.innerHTML);
	}

	function formatItem(row) {
		return row[0];
	}

	function lookupAjax(){
		var oSuggest = $("#product_state_name")[0].autocompleter;
		oSuggest.findValue();
		return false;
	}

	$("#product_state_name").autocomplete(
	"<%= states_path %>",
	{
		delay:10,
		minChars:2,
		matchSubset:1,
		matchContains:1,
		cacheLength:10,
		onItemSelect:selectItem,
		formatItem:formatItem,
		autoFill:true
	}
	);

	</script>

  <p>
    <%= f.label :existence, "Existencia" %><br />
    <%= f.text_field :existence %>
  </p>

  <p>
    <%= f.label :small_image_url, "URL de la imagen peque&ntilde;a" %><br />
    <%= f.text_field :small_image_url %>
  </p>
  <p>
    <%= f.label :medium_image_url, "URL de la imagen mediana" %><br />
    <%= f.text_field :medium_image_url %>
  </p>
  <p>
    <%= f.label :big_image_url, "URL de la imagen grande" %><br />
    <%= f.text_field :big_image_url %>
  </p>

  <p>
    <%= f.label :cost, "Costo" %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.label :handling, "Gastos de Manejo" %><br />
    <%= f.text_field :handling %>
  </p>
	<p>
	  <%= f.label :local_transport, "Flete Local" %><br />
	  <%= f.text_field :local_transport %>
	</p>
	<p>
	  <%= f.label :international_transport, "Flete Internacional" %><br />
	  <%= f.text_field :international_transport %>
	</p>
	<p>
    <%= f.label :tax, "Impuesto" %><br />
    <%= f.text_field :tax %>
  </p>
	<p>
    <%= f.label :discount, "Descuento" %><br />
    <%= f.text_field :discount %>
  </p>
  <p>
    <%= f.label :selling_price, "Precio de venta" %><br />
    <%= f.text_field :selling_price %>
  </p>

  <p><%= f.submit "Guardar" %></p>
<% end %>
