<% title "Winnamoney | #{@product.name}" %>

<div id="picture">
	
	<%= image_tag @product.biggest_image_url, :width => '280' %>
	
	<div id="cart">
		<%= render :partial => 'cart' %>
	</div>
	
</div>

<div id="description">
	<h1><%= @product.name %></h1>
	<p><%= @product.description %></p>
	<p>Price: <%= number_to_currency @product.selling_price %></p>
	<% if @current_store.owner?(@current_user) %>
	<p>Winamonney Special Price : <%= number_to_currency @product.price_for_owner %></p>
	<% end %>
	<p>Product Key: <%= @product.id %></p>
	
	<% form_tag cart_items_path do  %>
		<%= hidden_field_tag :product_id, @product.id, :class => 'product_id' %>
		<%= submit_tag "Add Product", :class => 'add_product_to_cart' %>
	<% end %>
	
</div>

<div class="clear"></div>

<p>
	<%= link_to " &laquo;&nbsp;Back", :back %>
</p>