<% title "Winnamoney | #{@product.name}" %>

<!--PRODUCTOS-->
<div class="clear">
	<!--FOTO-->
	<div class="left">

		<div class="pic">
			<%= image_tag @product.biggest_image_url, :alt => "Picture Not Available" %>
		</div>
	</div>
	<!--DESCRIPCION-->
	<div class="descripcion">
		<h2><%= @product.name %></h2>
		<p><em>id:&nbsp;<%= @product.id %></em></p>
		<p><%= @product.description %></p>

		<p class="precio"><%= number_to_currency @product.selling_price %></p>
		<% if @current_store.owner?(@current_user) %>
			<p class="precio"><%= number_to_currency @product.price_for_owner %></p>
		<% end %>
		<div class="clearb">
		<% form_tag cart_items_path do  %>
			<%= hidden_field_tag :product_id, @product.id, :class => 'product_id' %>
			<%= image_submit_tag "/images/bgde.png", :class => 'add_product_to_cart', :alt => 'Add to cart' %>
		<% end %>
		</div>
	</div>
                 
</div>