<% title "Winnamoney | Bulk Create Products" %>

<% content_for :header do %>
	Back Office
<% end %>

<% content_for :sidebar do %>
	<p>
		<%= link_to	"Back to product listing", products_path %>
	</p>
<% end %>

<h2>Bulk create products</h2>

<% form_tag products_path, :method => :post, :multipart => true do %>
<p>
	<%= label_tag	:category_mass, "Category" %> <br />
	<%= select_tag 	:category_mass, categories_for_select, :class => 'medium' %>
</p>


<p>
	<%= hidden_field_tag :create_type, "mass" %>
	<%= label_tag	:products_csv, "CSV File" %> <br />
	<%= file_field_tag :products_csv%>
</p>
<p>
	<%= image_tag "indicator.gif", :style => 'display:none', :id => 'indicator' %>
</p>

<div class="clear"></div>
<p>
	<%= submit_tag "Upload File", :id => 'upload_csv_file' %>
</p>
<% end %>
