<ul>
	<li><%= link_to "Home", home_path, :class => main_class('home') %></li>
	<li><%= link_to "News", news_path, :class => main_class('news') %></li>
	<li><%= link_to "Company", company_path, :class => main_class('company') %></li>
	<li><%= link_to "Opportunity", oportunity_path, :class => main_class('oportunity') %></li>
	<% unless @current_store.user.is_admin? %>
		<li><%= link_to "Virtual Office", login_path, :class => main_class('virtual_office') %></li>
	<% end %>
	<li><%= link_to "Go Shopping", shop_path, :class => main_class('shopping')  %></li>
	<li><%= link_to "Join Us", register_path, :class => main_class('register')  %></li>
</ul>