<% if virtual_office? %>
	<ul class="internal_menu">
		<li><%= link_to "My Referrals", stores_path(:index_action => 'referrals') %></li>
		<li><%= link_to "My Downline", stores_path(:index_action => 'downline') %></li>
		<li><%= link_to "My Account", user_path(@current_user) %></li>
		<li><%= link_to "Logout", logout_path %></li>
	</ul>
<% elsif !@current_user.nil? and @current_user.is_admin? %>
	<ul class="internal_menu">
		<li><%= link_to "Products", products_path %></li>
		<li><%= link_to "Clients", users_path  %></li>
		<li><%= link_to "Downline", stores_path(:index_action => 'downline') %></li>
		<li><%= link_to "Logout", logout_path %></li>
	</ul>
<% end %>