<ul class="stepbystep">
	<li>
		<p class="<%= steps_title_class('cart', active_step) %>"><%= I18n.t('steps.step1') %></p>
		<p class="<%= steps_des_class('cart', active_step) %>"><%= I18n.t('steps.checkout.review') %></p>
	</li>

	<li>
		<p class="<%= steps_title_class('orders', active_step) %>"><%= I18n.t('steps.step2') %></p>
		<p class="<%= steps_des_class('orders', active_step) %>"><%= I18n.t('steps.checkout.payment') %></p>
	</li>
	<li>
		<p class="<%= steps_title_class('success', active_step) %>"><%= I18n.t('steps.step3') %></p>
		<p class="<%= steps_des_class('success', active_step) %>"><%= I18n.t('steps.confirmation') %></p>
	</li>
	<li>
		<p><big><%= link_to "&laquo; Back", :back %></big></p>
	</li>
</ul>