<html>
<head>
  <title><%= h(yield(:title) || "Untitled") %></title>
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	<META HTTP-EQUIV="EXPIRES" CONTENT="0">
	<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  <%= stylesheet_link_tag 'application', 'jquery-ui-1.7.2.custom' %>
	<%= stylesheet_link_tag 'jquery.autocomplete' %>
	<%= stylesheet_link_tag 'jquery.rte' %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery.autocomplete' %>
	<%= javascript_include_tag 'jquery.rte','jquery.rte.tb', 'jquery-ui-1.7.2.custom.min' %>
	<%= javascript_include_tag 'jquery.scrollfollow' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= yield(:head) %>
</head>
<body>
<!--HEADER-->
<div id="header">
	<div class="wrapper">
		<!--LOGO-->
		<div id="logo">
			<img src="/images/logo.png" alt="Winnamoney"/>
		</div>
		<!--MENU-->
		<div id="menu">
			<%= render :partial => '/layouts/main_menu' %>
		</div>
	</div>
</div>
<!--CONTENTENIDO-->

<div id="content">
	<div class="wrapper">
		<!--MAIN-->
		<div id="main">
		</div>
			<!--MENU TIENDA-->
			<div id="ribbon">
				<!--HOME-->
				<div id="menuinterno">

					<div class="flechon">
						<h3><%= yield(:header) %></h3>
					</div>
					<div>
						<%= render :partial => '/layouts/menu' %>
					</div>
				</div>
			</div>
			<!--REST-->

			<div id="rest">
				<!--LEFT-->
				<div id="cleft">
					<%= yield(:sidebar) %>
				</div>
				<!--RIGHT-->
				<div id="cright">
					<!--WORK AREA-->
					<div class="clear">
					<div id="workarea">
						<%- flash.each do |name, msg| -%>
					      <%= content_tag :div, msg, :id => "flash_#{name}" %>
					    <%- end -%>
						<%= yield %>
					</div>
				</div>
			</div>
	</div>
</div>
<%= render :partial => '/layouts/footer' %>
</body>
</html>