<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', 'jquery-ui-1.7.2.custom' %>
	<%= stylesheet_link_tag 'jquery.autocomplete' %>
	<%= stylesheet_link_tag 'jquery.rte' %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery.autocomplete' %>
	<%= javascript_include_tag 'jquery.rte','jquery.rte.tb', 'jquery-ui-1.7.2.custom.min' %>
	<%= javascript_include_tag 'jquery.scrollfollow' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <%= yield(:head) %>
  </head>
  <body>
	
	<div id="header">
		<div class="wrapper">
			<!--LOGO-->
			<div id="logo">
				<img src="/images/logo.png" alt="Winnamoney"/>
			</div>
			<!--MENU-->
			<div id="menu">
				<ul>
					<li><a href="#">News</a></li>
					<li><a href="#">Company</a></li>
					<li><a href="#">Opportunity</a></li>
					<li><a href="#">Virtual office</a></li>
					<li><%= link_to "Go Shopping", @current_store, :class => "active" %></li>
					<li><a href="#">Join us</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<!--CONTENTENIDO-->
	<div id="content">
		<div class="wrapper">
			<!--MAIN-->
			<div id="main" style="padding:5px 15px;">
				<%= yield(:heading)%>
			</div>
			<!--REST-->
			<div id="rest">
				<!--RIGHT-->
				<div id="cright">		
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
	<!--FOOTER-->
	<div id="footer">
		<div class="wrapper">
			
		</div>
	</div>	

  </body>
</html>
