<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', 'jquery-ui-1.7.2.custom' %>
	<%= stylesheet_link_tag 'jquery.autocomplete' %>
	<%= stylesheet_link_tag 'jquery.rte' %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery.autocomplete' %>
	<%= javascript_include_tag 'jquery.rte','jquery.rte.tb', 'jquery-ui-1.7.2.custom.min' %>
	<%= javascript_include_tag 'jquery.scrollfollow' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <%= yield(:head) %>
  </head>
  <body>
	
	<div id="header">
		<div class="wrapper">
			<!--LOGO-->
			<div id="logo">
				<img src="/images/logo.png" alt="Winnamoney"/>
			</div>
			<!--MENU-->
			<div id="menu">
				<%= render :partial => '/layouts/main_menu' %>
			</div>
		</div>
	</div>

	<!--CONTENTENIDO-->
	<div id="content">
		<div class="wrapper">
			<!--MAIN-->
			<div id="main">
				<%= render :partial => '/layouts/welcome' %>
			</div>
				<!--MENU TIENDA-->
				<div id="ribbon">
					<!--HOME-->
					<div id="menutienda">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td width="35px" style="background:url(/images/home.png) right center; text-align: right;">
									<%= link_to image_tag("casa.gif", :alt => "home", :style => 'border:none;'), @current_store %>
								</td>
								<td>
									<%= render :partial => '/layouts/categories' %>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<!--REST-->
				<div id="rest">
					<!--LEFT-->
					<div id="cleft">
						<!--MINI CART-->
						<div id="minicart" class="<%= I18n.t('classes.cart') %>">
							<div class="content">
								<%= render :partial => '/products/cart' %>
							</div>
						</div>
					</div>
					<!--RIGHT-->
					<div id="cright">
						<%- flash.each do |name, msg| -%>
					      <%= content_tag :div, msg, :id => "flash_#{name}" %>
					    <%- end -%>
						<!--BREAD + PAGES-->
						<div id="bread">
							<ul>
								<%= breadcrumb_links %>
							</ul>
						</div>
						
						<%= yield %>
					</div>
				</div>
		</div>
	</div>
	<!--FOOTER-->
	<div id="footer">
		<div class="wrapper">
			
		</div>
	</div>	
  </body>
</html>
